spring:
  main:
    allow-bean-definition-overriding: true # 当遇到相同的名字的时候，是否允许覆盖注册
  cloud:
    config:
      name: adminweb
      profile: dev
      label: master
      uri: http://127.0.0.1:10011




