server:
  port: 8087
spring:
  application:
    name: auth-service
  rabbitmq:
    #rabbitmq连接参数
    host: 127.0.0.1
    username: mall
    password: mall0102
    virtual-host: mall
    port: 5672
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
    registry-fetch-interval-seconds: 10
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true  #当你获取host时，返回的不是主机名，而是ip
    ip-address: 127.0.0.1
    lease-expiration-duration-in-seconds: 10 #10秒不发送九过期
    lease-renewal-interval-in-seconds: 5 #每隔5秒发一次心跳
mall:
  jwt:
    token-header: Authorization #JWT存储的请求头
    secret: leyou@Login(Auth}*^31)&heiMa% # 登录校验的密钥
    expiration: 604800 #JWT的超期限时间(60*60*24)
    token-head: Bearer  #JWT负载中拿到开头
    cookieName: MALL_TOKEN
    cookieMaxAge: 30

ribbon:
  ConnectTimeout: 4000 # 连接超时时间(ms)
  ReadTimeout: 2000 # 通信超时时间(ms)
  OkToRetryOnAllOperations: true # 是否对所有操作重试
  MaxAutoRetriesNextServer: 1 # 同一服务不同实例的重试次数
  MaxAutoRetries: 1 # 同一实例的重试次数
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMillisecond: 10000 # 熔断超时时长：10000ms